.cta-section{
    padding:80px 20px;
    font-family: Georgia, serif;
    margin-top:50px;
}

.cta-section *{
    font-family: inherit;
}

.cta-box{
    max-width:1150px;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;

    padding:60px;
    border-radius:28px;

    background: linear-gradient(
        135deg,
        #ffffff 0%,
        #f6ecf3 45%,
        #D6A8C4 100%
    );

    border: 1px solid rgba(214, 168, 196, 0.4);

    box-shadow:
    0 25px 60px rgba(91, 55, 101, 0.10),
    0 0 40px rgba(91, 55, 101, 0.10);
}

.cta-left{
    flex:1;
}

.cta-tag{
    display:inline-block;
    font-size:12px;
    letter-spacing:3px;
    text-transform:uppercase;
    color:#9E6899;
    margin-bottom:18px;
}

.cta-left h2{
    font-size:42px;
    font-weight:500;
    color:#171310;
    margin-bottom:18px;
    line-height:1.25;
}

.cta-left p{
    font-size:17px;
    color:#5c554c;
    line-height:1.8;
    max-width:650px;
    text-align: justify;
}

.cta-right{
    display:flex;
    flex-direction:column;
    gap:16px;
}

.cta-primary{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    background: linear-gradient(90deg, #5B3765, #BA88AE);
    color:#ffffff;
    border:none;
    padding:18px 34px;
    border-radius:50px;
    font-size:15px;
    font-weight:700;
    cursor:pointer;
    transition:.3s;
    min-width:280px;
    box-shadow: 0 12px 30px rgba(91, 55, 101, 0.30);
}

.cta-primary:hover{
    transform:translateY(-3px);
    box-shadow: 0 16px 36px rgba(91, 55, 101, 0.4);
}

.cta-arrow-icon{
    font-size:14px;
    transition: transform 0.3s ease;
}

.cta-primary:hover .cta-arrow-icon{
    transform: translateX(4px);
}

.cta-secondary{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    background:#ffffff;
    color:#171310;
    border:1px solid #e8e2e5;
    padding:16px 28px;
    border-radius:50px;
    font-size:14.5px;
    font-weight:700;
    cursor:pointer;
    transition:.3s;
    box-shadow: 0 6px 18px rgba(91, 55, 101, 0.08);
}

.cta-secondary-icon{
    font-size:16px;
    color:#5B3765;
}

.cta-secondary:hover{
    border-color:#BA88AE;
    box-shadow: 0 10px 24px rgba(91, 55, 101, 0.14);
    transform:translateY(-2px);
}
/* Tablet */

@media(max-width:900px){

.cta-box{

flex-direction:column;
text-align:center;
padding:45px 30px;
gap:35px;

}

.cta-left h2{

font-size:34px;

}

.cta-left p{

margin:auto;

}

.cta-right{

width:100%;

}

.cta-primary,
.cta-secondary{

width:100%;

}

}

/* Mobile */

@media(max-width:480px){

.cta-section{

padding:60px 15px;

}

.cta-box{

padding:30px 22px;
border-radius:20px;

}

.cta-left h2{

font-size:28px;

}

.cta-left p{

font-size:15px;

}

.cta-primary,
.cta-secondary{

padding:15px;

}

}